<%- model_class = Patient -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:first_name) %>:</strong></dt>
  <dd><%= @patient.first_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:second_name) %>:</strong></dt>
  <dd><%= @patient.second_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:first_surname) %>:</strong></dt>
  <dd><%= @patient.first_surname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:second_surname) %>:</strong></dt>
  <dd><%= @patient.second_surname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @patient.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type_document) %>:</strong></dt>
  <dd><%= @patient.type_document %></dd>
  <dt><strong><%= model_class.human_attribute_name(:document) %>:</strong></dt>
  <dd><%= @patient.document %></dd>
  <dt><strong><%= model_class.human_attribute_name(:days_age) %>:</strong></dt>
  <dd><%= @patient.days_age %></dd>
  <dt><strong><%= model_class.human_attribute_name(:months_age) %>:</strong></dt>
  <dd><%= @patient.months_age %></dd>
  <dt><strong><%= model_class.human_attribute_name(:years_age) %>:</strong></dt>
  <dd><%= @patient.years_age %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birthdate) %>:</strong></dt>
  <dd><%= @patient.birthdate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @patient.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name(:profession) %>:</strong></dt>
  <dd><%= @patient.profession %></dd>
  <dt><strong><%= model_class.human_attribute_name(:blood_type) %>:</strong></dt>
  <dd><%= @patient.blood_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nacionality) %>:</strong></dt>
  <dd><%= @patient.nacionality %></dd>
  <dt><strong><%= model_class.human_attribute_name(:eps_id) %>:</strong></dt>
  <dd><%= @patient.eps_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:arl_id) %>:</strong></dt>
  <dd><%= @patient.arl_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @patient.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:condition) %>:</strong></dt>
  <dd><%= @patient.condition %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city_id) %>:</strong></dt>
  <dd><%= @patient.city_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @patient.user_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              patients_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_patient_path(@patient), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              patient_path(@patient),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
