<p id="notice"><%= notice %></p>

<h1>Listing Clinic Histories</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Department</th>
      <th>User</th>
      <th>Cove</th>
      <th>Mobiel service</th>
      <th>Airport</th>
      <th>Type service</th>
      <th>Patient</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Company</th>
      <th>Accompanist name</th>
      <th>Relationship</th>
      <th>Phone</th>
      <th>Reason for consultation</th>
      <th>Current illness</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinic_histories.each do |clinic_history| %>
      <tr>
        <td><%= clinic_history.city %></td>
        <td><%= clinic_history.department %></td>
        <td><%= clinic_history.user %></td>
        <td><%= clinic_history.cove %></td>
        <td><%= clinic_history.mobiel_service %></td>
        <td><%= clinic_history.airport %></td>
        <td><%= clinic_history.type_service %></td>
        <td><%= clinic_history.patient %></td>
        <td><%= clinic_history.origin %></td>
        <td><%= clinic_history.destination %></td>
        <td><%= clinic_history.company %></td>
        <td><%= clinic_history.accompanist_name %></td>
        <td><%= clinic_history.relationship %></td>
        <td><%= clinic_history.phone %></td>
        <td><%= clinic_history.reason_for_consultation %></td>
        <td><%= clinic_history.current_illness %></td>
        <td><%= link_to 'Show', clinic_history %></td>
        <td><%= link_to 'Edit', edit_clinic_history_path(clinic_history) %></td>
        <td><%= link_to 'Destroy', clinic_history, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clinic history', new_clinic_history_path %>
